header{
    background: #000;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}
input{
    display: inline-block;
    width: auto;
}
a{
    font-size: 18px;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px;
}